.todo {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
    border: 1px solid #CE0063;
    border-radius: 20px;
    max-width: 70%;
    width: 100%;
    margin: 0 auto;
}

@media screen and (max-width: 450px) {
    .todo {
        flex-direction: column;
        align-items: flex-end;
        gap: 20px;
    }
}

.todo__form {
    display: flex;
    width: 100%;
}

.todo__title {
    font-size: 19px;
    line-height: 1.2;
    margin: 0;
    background-color: transparent;
    color: black;
    max-width: 80%;
    width: 100%;
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
}

@media screen and (max-width: 450px) {
    .todo__title {
        max-width: 100%;
    }
}

.todo__title_completed {
    text-decoration: line-through;
}

.todo__title:disabled {
    border: none;
    color: #CE0063;
}
