.header {
    background-color: #CE0063;
    max-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
}

.header__title {
    color: #ffffff;
    font-size: 20px;
    margin: 0;
}
